# Specification available at: http://editorconfig.org

# Root config file for IITC.
root = true

[*.{js,py}]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.js]
indent_size = 2

[*.py]
indent_size = 4

# Following JS code style rules do not have EditorConfig support yet:
# - Use identity operators (===) over equality operators (==).
# - Opening brace at end of line. e.g. "if(a) {", "} else {", "} else if (b) }"
# - No space between keyword and parentheses. "if(a)" not "if (a)"
# - Use single-quotes for strings, and double-quotes within strings for HTML attribute values. $('<div id="#me">').
