build
localbuildsettings.py
*.pyc
*.swp
*~
*.bak
*.project
.pydevproject
twistd.pid
temp.csv
dump.kml
generate_kml.py
plugins/lib/jasmine_examples/*
plugins/spec/helpers/jasmine_examples/
plugins/spec/jasmine_examples/
