<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cradle.iitc_mobile"
	android:versionCode="1"
	android:versionName="0.2.2" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/iitc_icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.cradle.iitc_mobile.IITC_Mobile"
			android:theme="@style/AppBaseTheme"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="www.ingress.com" android:scheme="https" android:pathPrefix="/intel"></data>
				<data android:host="www.ingress.com" android:scheme="http" android:pathPrefix="/intel"></data>
			</intent-filter>
		</activity>
	</application>

</manifest>
