<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cradle.iitc_mobile"
    android:installLocation="auto"
    android:versionCode="60"
    android:versionName="0.9">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".IITC_Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_iitcm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IITC_Mobile"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- Used for Samsung Multi-Window support -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <!-- No category needed, because the Intent will specify this class component -->
            </intent-filter>

            <!-- Handles the implicit intent to VIEW the www.ingress.com/intel URI -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.ingress.com"
                    android:pathPrefix="/intel"
                    android:scheme="https"/>
                <data
                    android:host="www.ingress.com"
                    android:pathPrefix="/intel"
                    android:scheme="http"/>
            </intent-filter>

            <!-- Handles geo: URIs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="geo"/>
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".IITC_PreferenceActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/activity_settings"/>
        <activity
            android:name=".IITC_PluginPreferenceActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/activity_plugins"/>
        <activity
            android:name=".share.ShareActivity"
            android:label="@string/activity_share"
            android:noHistory="true"
            android:parentActivityName=".IITC_Mobile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IITC_Mobile"/>
        </activity>

        <activity
            android:name=".share.SendToClipboard"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/copy"
            android:label="@string/activity_share_to_clipboard"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <!-- START Used for Samsung Multi-Window support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h"/>
        <!-- END Used for Samsung Multi-Window support -->

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".IITC_Mobile"/>
    </application>

</manifest>
