body {
  background: #000;
  color: #fff;
}

#sidebar, #updatestatus, #chatcontrols, #chat, #chatinput {
  background: #0B3351 !important
}


.leaflet-control-layers {
  margin-left: 0 !important;
  margin-top: 40px !important;
}

#chatcontrols {
  height: 38px;
  width: 100%;
  display: flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -moz-box;
}

/* hide shrink button */
#chatcontrols a:first-child {
  display: none;
}

#chatcontrols a {
  height:36px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 36px;
  text-decoration: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

#chat {
  left:0;
  right:0;
  top:37px !important;
  bottom:30px;
  width: auto;
}

#chatinput {
  width: 100%;
  height: 30px;
}

#chat td:nth-child(2), #chatinput td:nth-child(2) {
  width: 77px;
}




#sidebartoggle {
  display: none !important;
}

#scrollwrapper {
  top: 36px;
  bottom: 0;
  max-height: none !important;
  width: 100% !important;
  right: 0;
  left:0;
}

#sidebar {
  width: 100% !important;
  min-height: 100%;
  border:0;
}

#sidebar > * {
  width: 100%;
}

#playerstat {
  margin-top: 5px;
}

#portaldetails {
  min-height: 0;
}

.fullimg {
  width: 100%;
}

.leaflet-control-layers-base {
  float: left;
}

.leaflet-control-layers-overlays {
  float: left;
  margin-left: 8px;
  border-left: 1px solid #DDDDDD;
  padding-left: 8px;
}

.leaflet-control-layers-separator {
  display: none;
}

.leaflet-control-layers-list label {
  padding: 6px 0;
}

.leaflet-control-attribution {

}
