body {
	padding-top: 10px;
	background: url('../img/bg.jpg');
}


table tr.category_header {
	background: #ddd;
}

table .description {
	font-style: italic;
}

.icon-chevron-desktop,
.icon-chevron-mobile {
  background-image: url("../img/glyphicons-devices.png");
  background-position: 0 0;
}
.nav-list > .active > a > .icon-chevron-desktop,
.nav-list > .active > a > .icon-chevron-mobile 
{
  background-image: url("../img/glyphicons-devices-white.png");
}
.icon-chevron-mobile {
  background-position: 0 -14px;
}
