/** Slider **/
.leaflet-control-zoomslider-slider {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.leaflet-control-zoomslider-slider-body {
	background-image: url(@@INCLUDEIMAGE:images/zoom-slider.png@@);
	background-repeat: repeat-y;
	background-position: center 0px;
	height: 100%;
	cursor: default;
}

.leaflet-control-zoomslider-slider-knob {
	width: 13px;
	height:5px;
	background-color: black;
	background-position: center;
 	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin-left: 5px;
	/*border: 5px; */
	position:relative;
}

.leaflet-control-zoomslider-slider-body:hover {
	cursor: pointer;
}

.leaflet-control-zoomslider-slider-knob:hover {
	cursor: default;
	cursor: -webkit-grab;
	cursor:    -moz-grab;
}

.leaflet-dragging .leaflet-control-zoomslider,
.leaflet-dragging .leaflet-control-zoomslider-slider,
.leaflet-dragging .leaflet-control-zoomslider-slider-body,
.leaflet-dragging .leaflet-control-zoomslider a,
.leaflet-dragging .leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled,
.leaflet-dragging .leaflet-control-zoomslider-slider-knob:hover  {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
}

/** Leaflet Zoom Styles **/
.leaflet-container .leaflet-control-zoomslider {
	margin-left: 13px;
	margin-top: 12px;
}
.leaflet-control-zoomslider a {
	width: 23px;
	height: 22px;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
}
.leaflet-control-zoomslider a:hover {
	background-color: #fff;
	color: #777;
}
.leaflet-control-zoomslider-in {
	font: bold 19px/24px Arial, Helvetica, sans-serif;
}
.leaflet-control-zoomslider-in:after{
	content:"+"
}
.leaflet-control-zoomslider-out {
	font: bold 23px/20px Tahoma, Verdana, sans-serif;
}
.leaflet-control-zoomslider-out:after{
	content:"-"
}
.leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled {
	cursor: default;
	color: #bbb;
}

/* Touch */

.leaflet-touch .leaflet-control-zoomslider-slider-knob {
	width:20px;
}
.leaflet-touch .leaflet-control-zoomslider a {
	width: 30px;
	height: 30px;
}
.leaflet-touch .leaflet-control-zoomslider-in {
	font-size: 24px;
	line-height: 29px;
}
.leaflet-touch .leaflet-control-zoomslider-out {
	font-size: 28px;
	line-height: 24px;
}

.leaflet-touch .leaflet-control-zoomslider {
	box-shadow: none;
}

.leaflet-touch .leaflet-control-zoomslider {
	border: 4px solid rgba(0,0,0,0.3);
}
